
.zaki{
  /* border: solid black 1px;*/
   display: flex;
   justify-content: center;


}

.prime_div{
 /* border: solid black 1px;*/
  display: flex;
  justify-content: space-evenly;  

}
  
.div1{
  /*border: solid black 1px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.div2{
  /*border: solid black 1px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div_p{
  display: flex;
  justify-content: center;

}



